* {
    margin: 0;
    padding: 0;
    height: 100%;
}

#loom-companion-mv3, #shadow-host-companion {
    display: none !important;
}

@font-face {
    font-family: 'Farmhand';
    src: url('./assets/fonts/Farmhand-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Too Big */

.too-big{
    width: 100%;
    height: 100vh;
    background-image: url('/fond-m5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-m5-too-big{
    height: 200px;
    width: 200px;
}

.too-big h1{
    height: fit-content;
    font-family: 'Farmhand', sans-serif;
    text-align: center;
    color: #292B2D;
}


/* Entry */

.entry{
    height: 100%;
    width: 100%;
    background-image: url('/fond-m5.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bsd{
    height: fit-content;
    position: absolute;
    top: 5px;
    right: 5px;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    color: #292B2D;
}

.fleurs-entry{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fleur-entry-gauche, .fleur-entry-droite{
    height: 150px;
    width: 250px;
}

.fleur-entry-droite{
    align-self: flex-end;
    transform: translateY(50px);
}

.fleur-entry-gauche{
    align-self: start;
    transform: translateY(-50px);
}

.logo-date-entry{
    display: flex;
    flex-direction: column;
}

.logo-m5-entry{
    height: 150px;
    width: 150px;
    margin: auto;
}

.entry-date{
    color: #292B2D;
    font-size: large;
    height: fit-content;
    text-align: center;
}

.countdown{
    width: 90%;
    height: fit-content;
    margin: 0px auto 80px auto;
    color: #292B2D;

    font-weight: lighter;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.time{
    text-align: center;
    font-size: x-large;
    background-color: transparent;
    border-radius: 28px;
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.invit-link {
    color: #292B2D ;
    font-family: "Italianno", serif;
    letter-spacing: 2px;
    font-size: 40px;
    text-decoration: none;
    height: fit-content;
    margin-bottom: 30px;
    transform: translateY(-35px);
}



/* Home */

.home{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('/fond-m5.png');
    background-repeat: repeat-y;
    overflow: hidden;
    padding-bottom: 50px;
}

.fleur-bas{
    height: 100px;
    width: 180px;
    transform: rotate(-50deg);
    position: absolute;
    bottom: 35px;
    right: 0;
}

.noms-bas{
    height: fit-content;
    position: absolute;
    bottom: 2px;
    font-family: 'Farmhand', serif;
}

/* Musique */

.musique button{
    height: 40px;
    width: 40px;
    border: solid  #183C28 1px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    left: 10px;
    z-index: 100;
    background-color: transparent;
}

/* Card */

.card{
    height: fit-content;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fleurs-title{
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.fleur-title-gauche, .fleur-title-droite{
    height: 100px;
    width: 200px;
}

.fleur-title-droite{
    align-self: flex-end;
    transform: translateY(30px);
}

.fleur-title-gauche{
    align-self: start;
    transform: translateY(-30px);
}

.fleurs-title .title{
    align-self: center;
    font-family: "Italianno", serif;
    letter-spacing: 2px;
}

.noms{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.nom-1, .nom-2, .and{
    width: 100%;
    height: fit-content;
    font-family: 'Farmhand', serif;
    font-size: 70px;
    text-align: center;
    color: #292B2D;
    font-weight: 100;
}

.and{
    font-family: "Alice", serif;
    font-size: 40px;
}


.text{
    margin: 40px auto auto auto;
    font-family: "Alice", serif;
    color: #292B2D;
    height: fit-content;
    width: 80%;
    text-align: center;
}

.oui{
    margin: 10px auto auto auto;
    font-family: "Alice", serif;
    font-size: 30px;
    color: #292B2D;
    height: fit-content;
}

.date{
    height: fit-content;
    margin: 40px auto auto auto;
    font-family: "Alice", serif;
    color: #292B2D;
    font-size: 20px;
    text-align: center;
}

.endroit{
    height: fit-content;
    margin: 40px auto auto auto;
    font-family: "Alice", serif;
    color: #292B2D;
    text-align: center;
    width: 80%;
}

.suite{
    height: fit-content;
    width: 60%;
    text-align: center;
    margin: 40px auto auto auto;
    font-family: "Alice", serif;
    color: #292B2D;
}

.waze{
    margin: 30px auto auto auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.waze .waze-link{
    color: #292B2D;
    font-family: "Alice", serif;
    font-style: italic;
}

.save-the-date{
    margin: 10px auto auto auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.save-the-date .save-the-date-link{
    color: #292B2D;
    font-family: "Alice", serif;
    font-style: italic;
}

/* Houppa */

.kol-sasson{
    height: 110px ;
    width: 90%;
}

.parents{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px auto 10px auto;
}

.parents-fille{
    font-family: "Alice", serif;
    font-size: small;
}

.parents-garcon{
    font-family: "Alice", serif;
    font-size: small;
}


.houppa-text1{
    width: 80%;
    font-family: "Alice", serif;
    text-align: center;
    color: #271A11;
    margin: 40px auto;
}

.houppa-text2{
    width: 80%;
    font-family: "Alice", serif;
    text-align: center;
    color: #271A11;
    margin: 40px auto 0 auto;
}


.pensee{
    margin: 40px auto auto auto;
    font-family: "Alice", serif;
    text-align: center;
    color: #271A11;
    font-style: italic;
    text-align: center;
    width: 80%;
}

/* Response */

.response-title{
    width: 100%;
    margin: 50px auto;
    text-align: center;
    height: fit-content;
}

/* Form */

form{
    height: fit-content;
    width: 100%;
    font-family: "Alice", serif;
    color: #292B2D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 2px;
    margin: auto;
    transform: translateY(-10%);
}

label{
    margin: 10px 0 10px 20px;
}

.nom, .prenom, .person-number{
    width: 85%;
    height: 20px;
    padding: 10px;
    border: none;
    background-color: rgba(41, 43, 45, 0.6);
    border-top-left-radius: 50% 170px;
    border-top-right-radius: 50% 170px;
    border-bottom-left-radius: 50% 170px;
    border-bottom-right-radius: 50% 170px;
    margin-top: 5px;
}

.label-textarea{
    margin-left: 20px;
}

input[type = radio]{
    margin-right: 10px;
}

.square-checkbox {
    appearance: none; /* Supprime l'apparence par défaut */
    height: 15px;
    width: 15px;
    background-color: transparent; /* Couleur de fond */
    border: 1px solid #292B2D; /* Bordure noire */
    border-radius: 50%; /* Pas de bordure arrondie pour un effet carré */
    cursor: pointer;
    position: relative; /* Nécessaire pour positionner la flèche */
    margin-left: 10px;
}

.square-checkbox:checked::after {
    content: ''; /* Pseudo-élément pour la flèche */
    position: absolute;
    top: 2px; /* Position verticale */
    left: 4px; /* Position horizontale */
    width: 3px; /* Largeur de la flèche */
    height: 5px; /* Hauteur de la flèche */
    border: solid #292B2D; /* Couleur de la flèche */
    border-width: 0 2px 2px 0; /* Taille des lignes de la flèche */
    transform: rotate(45deg); /* Inclinaison pour créer une flèche */
}

textarea{
    width: 85%;
    height: 40px;
    padding: 10px;
    background-color: rgba(41, 43, 45, 0.6);
    border: none;
    border-top-left-radius: 50% 170px;
    border-top-right-radius: 50% 170px;
    border-bottom-left-radius: 50% 170px;
    border-bottom-right-radius: 50% 170px;
    margin-left: 15px;
}

.submit-button{
    height: 40px;
    width: 170px;
    margin: 30px auto;
    border: none;
    border-radius: 20px;
    background-color: rgba(41, 43, 45, 0.6);
    color: #292B2D;
    font-family: "Alice", serif;
    letter-spacing: 2px;
}

/* Presence */

.presence{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.present{
    display: flex;
    flex-direction: column;
}

.present input{
    margin-right: 10px; 
}

.present .square-checkbox{
    margin-left: 25px;
}

.number{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

